/* Avoir des vidéos responsive (+flash)*/
.videocontainer{
  width: 70%; /*  x0.30 */
  height: 0;
  padding-bottom: 39.25%; /* 9/16 x0.30 */
  overflow: hidden;
  position: relative;
}
/* pour les video carre*/
.videocontainer.r1{
  padding-bottom: 40%;
}

/* pour les video lg-6*/
.videocontainer.lg6{
	width: 100%;
  	padding: 30%;
}
.videocontainer iframe, .videocontainer embed, .videocontainer object{
  width: 100%!important; height: 100%!important;
  position: absolute;
  top: 0; left: 0;
}



